---
layout: archive
title: "Research"
permalink: /Research/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<h2>Threshold-based predictions of the Earth’s axial magnetic dipole field</h2>

We study predictions of reversals of Earth’s axial magnetic dipole field that are 
based solely on the dipole’s intensity. The prediction strategy is, roughly, that once 
the dipole intensity drops below a threshold, then the field will continue to decrease 
and a reversal (or a major excursion) will occur. Below you will find a collection of 
slides discussing this study along with a short video introducing them.

<video width="640" height="480" controls>
  <source src="/files/SEDI_Intro2.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<br>
<br>

<embed src="/files/SEDI.pdf" width="500" height="375" 
 type="application/pdf">
<br>
<br>
<br>
<br>
<h2>Data assimilation for decadal-scale geomagnetic forecasting</h2>
<br>
<img src="/files/Sphere.png">
<br>
<br>
There has been growing interest in using data assimilation (DA) with numerical geodynamo 
models to better understand the processes of the Earth's deep interior and improve decadal-scale 
forecasting of the magnetic field. However, there remain several fundamental questions regarding the 
application of DA in geomagnetism. Below are links to a presentation (in two parts) on this topic 
from the Joint ICTP-IUGG Workshop on Data Assimilation and Inverse Problems in Geophysical Sciences.
<br>
<a href="https://www.youtube.com/watch?v=gR-6U3TyH_Q">Part 1</a>
<br>
<a href="https://www.youtube.com/watch?v=Iio1sOIThDQ">Part 2</a>
<br>
<br>

<!--<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=gR-6U3TyH_Q">
</iframe>

<iframe width="420" height="315"
src="https://www.youtube.com/watch?v=Iio1sOIThDQ">
</iframe>

