---
layout: archive
title: "Research"
permalink: /Research/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<h1>Threshold-based predictions of the Earth’s axial magnetic dipole field</h1>

We study predictions of reversals of Earth’s axial magnetic dipole field that are 
based solely on the dipole’s intensity. The prediction strategy is, roughly, that once 
the dipole intensity drops below a threshold, then the field will continue to decrease 
and a reversal (or a major excursion) will occur.
